package ${package_name}.service;

import com.yuze.framework.service.BaseService;
import ${package_name}.model.${model};
import ${package_name}.model.${model}Example;

/**
* ${model}Service接口
* Created by yuze on ${ctime}.
*/
public interface ${model}Service extends BaseService<${model}, ${model}Example, Integer> {

}